<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>平成年表クイズ</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <style>
        html,
        body {
            height: 100vh;
            margin: 0;
        }

        .section {
            min-height: 100vh;
            margin-bottom: 50px;
        }

        .footer,
        .push {
            height: 50px;
        }

        img {
            width: 100%;
            height: 80%;
        }

        .columns {
            margin: 5vh 0;
        }
    </style>
</head>

<body>
    <div class="hero is-success is-bold">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">平成年表クイズ</h1>
                <h2 class="subtitle">Pro*seeds ★ 忘年会</h2>
            </div>
        </div>
    </div>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-2">
                    <p>平成元年<small>(1989年)</small></p>
                    <img src="http://blogimg.goo.ne.jp/user_image/6f/85/b694023da0bb178a3a149bc08577d4f5.jpg">
                    <p class="has-text-centered">ベルリンの壁崩壊</p>
                </div>
                <div class="column is-2">
                    <p>平成3年<small>(1991年)</small></p>
                    <img src="https://image.freepik.com/free-photo/no-translate-detected_1205-380.jpg">
                    <div class="select is-info">
                        <select>
                            <option>人類が初めて１００ｍ走で１０秒を切る</option>
                            <option>原爆ドームが世界遺産に登録</option>
                            <option>消費税が５％に</option>
                            <option>裁判員制度スタート</option>
                            <option>富士山が世界文化遺産登録</option>
                            <option>Twitterサービス開始</option>
                            <option>消費税が８％に</option>
                            <option>マイナンバー制度が導入</option>
                            <option>オレオレ詐欺が流行</option>
                            <option>MDが発売</option>
                            <option>U・S・J開業</option>
                            <option>携帯電話でインターネットサービスとE-mail開始</option>
                            <option>米アップル「iPhone」を発売</option>

                        </select>
                    </div>
                </div>
                <div class="column is-2">
                    <p>平成4年<small>(1992年)</small></p>
                    <img src="https://image.freepik.com/free-photo/no-translate-detected_1205-380.jpg">
                    <div class="select is-info">
                        <select>
                            <option>人類が初めて１００ｍ走で１０秒を切る</option>
                            <option>原爆ドームが世界遺産に登録</option>
                            <option>消費税が５％に</option>
                            <option>裁判員制度スタート</option>
                            <option>富士山が世界文化遺産登録</option>
                            <option>Twitterサービス開始</option>
                            <option>消費税が８％に</option>
                            <option>マイナンバー制度が導入</option>
                            <option>オレオレ詐欺が流行</option>
                            <option>MDが発売</option>
                            <option>U・S・J開業</option>
                            <option>携帯電話でインターネットサービスとE-mail開始</option>
                            <option>米アップル「iPhone」を発売</option>

                        </select>
                    </div>
                </div>
                <div class="column is-2">
                    <p>平成7年<small>(1995年)</small></p>
                    <img src="https://www.kobe-np.co.jp/rentoku/sinsai/img/slide01.jpg">

                    <p class="has-text-centered">阪神・淡路大震災</p>
                </div>
                <div class="column is-2">
                    <p>平成7年<small>(1995年)</small></p>
                    <img src="https://www.jiji.com/news/handmade/topic/d4_oldnews/cks121-2010031621430402362655.jpg">

                    <p class="has-text-centered">地下鉄サリン事件</p>
                </div>


                <div class="column is-2">
                    <p>平成8年<small>(1996年)</small></p>
                    <img src="https://image.freepik.com/free-photo/no-translate-detected_1205-380.jpg">

                    <div class="select is-info">
                        <select>
                            <option>人類が初めて１００ｍ走で１０秒を切る</option>
                            <option>原爆ドームが世界遺産に登録</option>
                            <option>消費税が５％に</option>
                            <option>裁判員制度スタート</option>
                            <option>富士山が世界文化遺産登録</option>
                            <option>Twitterサービス開始</option>
                            <option>消費税が８％に</option>
                            <option>マイナンバー制度が導入</option>
                            <option>オレオレ詐欺が流行</option>
                            <option>MDが発売</option>
                            <option>U・S・J開業</option>
                            <option>携帯電話でインターネットサービスとE-mail開始</option>
                            <option>米アップル「iPhone」を発売</option>

                        </select>
                    </div>
                </div>



            </div>

            <div class="columns">

                <div class="column is-2">
                    <p>平成9年<small>(1997年)</small></p>
                    <img src="https://image.freepik.com/free-photo/no-translate-detected_1205-380.jpg">
                    <div class="select is-info">
                        <select>
                            <option>人類が初めて１００ｍ走で１０秒を切る</option>
                            <option>原爆ドームが世界遺産に登録</option>
                            <option>消費税が５％に</option>
                            <option>裁判員制度スタート</option>
                            <option>富士山が世界文化遺産登録</option>
                            <option>Twitterサービス開始</option>
                            <option>消費税が８％に</option>
                            <option>マイナンバー制度が導入</option>
                            <option>オレオレ詐欺が流行</option>
                            <option>MDが発売</option>
                            <option>U・S・J開業</option>
                            <option>携帯電話でインターネットサービスとE-mail開始</option>
                            <option>米アップル「iPhone」を発売</option>

                        </select>
                    </div>
                </div>
                <div class="column is-2">
                    <p>平成11年<small>(1999年)</small></p>
                    <img src="http://blog-imgs-102.fc2.com/n/a/2/na2ka4/dango-3kyodai.png">

                    <p class="has-text-centered">「だんご3兄弟」が大流行</p>
                </div>
                <div class="column is-2">
                    <p>平成12年<small>(2000年)</small></p>
                    <img src="https://ebizo-ichikawa.com/wp-content/uploads/2017/12/C-IrEoeUIAE4ufd.jpg">

                    <p class="has-text-centered">「おっはー」が流行語大賞に</p>
                </div>
                <div class="column is-2">
                    <p>平成13年<small>(2001年)</small></p>
                    <img src="http://www.team-lens.com/heartstrings/2015/img_05/2015_0524-photo9.jpg">

                    <p class="has-text-centered">９・１１米国同時多発テロ事件</p>
                </div>
                <div class="column is-2">
                    <p>平成13年<small>(2001年)</small></p>
                    <img src="https://o.aolcdn.com/images/dims?quality=85&image_uri=http%3A%2F%2Fo.aolcdn.com%2Fhss%2Fstorage%2Fadam%2F771e5109e166ae680720e198df752173%2Foriginal+ipod.jpeg&client=amp-blogside-v2&signature=a319fe8bbffd7bd5fb199c6f4d83bd1f81a8d70a">

                    <p class="has-text-centered">米アップル「iPod」発売</p>
                </div>
                <div class="column is-2">
                    <p>平成13年<small>(2001年)</small></p>
                    <img src="https://image.freepik.com/free-photo/no-translate-detected_1205-380.jpg">
                    <div class="select is-info">
                        <select>
                            <option>人類が初めて１００ｍ走で１０秒を切る</option>
                            <option>裁判員制度スタート</option>
                            <option>富士山が世界文化遺産登録</option>
                            <option>Twitterサービス開始</option>
                            <option>消費税が８％に</option>
                            <option>マイナンバー制度が導入</option>
                            <option>オレオレ詐欺が流行</option>
                            <option>MDが発売</option>
                            <option>U・S・J開業</option>


                        </select>
                    </div>
                </div>
            </div>

            <div class="columns">

                <div class="column is-2">
                    <p>平成9年<small>(1997年)</small></p>
                    <img src="https://image.freepik.com/free-photo/no-translate-detected_1205-380.jpg">
                    <div class="select is-info">
                        <select>
                            <option>人類が初めて１００ｍ走で１０秒を切る</option>
                            <option>原爆ドームが世界遺産に登録</option>
                            <option>消費税が５％に</option>
                            <option>裁判員制度スタート</option>
                            <option>富士山が世界文化遺産登録</option>
                            <option>Twitterサービス開始</option>
                            <option>消費税が８％に</option>
                            <option>マイナンバー制度が導入</option>
                            <option>オレオレ詐欺が流行</option>
                            <option>MDが発売</option>
                            <option>U・S・J開業</option>
                            <option>携帯電話でインターネットサービスとE-mail開始</option>
                            <option>米アップル「iPhone」を発売</option>

                        </select>
                    </div>
                </div>
                <div class="column is-2">
                    <p>平成11年<small>(1999年)</small></p>
                    <img src="http://blog-imgs-102.fc2.com/n/a/2/na2ka4/dango-3kyodai.png">

                    <p class="has-text-centered">「だんご3兄弟」が大流行</p>
                </div>
                <div class="column is-2">
                    <p>平成12年<small>(2000年)</small></p>
                    <img src="https://ebizo-ichikawa.com/wp-content/uploads/2017/12/C-IrEoeUIAE4ufd.jpg">

                    <p class="has-text-centered">「おっはー」が流行語大賞に</p>
                </div>
                <div class="column is-2">
                    <p>平成13年<small>(2001年)</small></p>
                    <img src="http://www.team-lens.com/heartstrings/2015/img_05/2015_0524-photo9.jpg">

                    <p class="has-text-centered">９・１１米国同時多発テロ事件</p>
                </div>
                <div class="column is-2">
                    <p>平成13年<small>(2001年)</small></p>
                    <img src="https://o.aolcdn.com/images/dims?quality=85&image_uri=http%3A%2F%2Fo.aolcdn.com%2Fhss%2Fstorage%2Fadam%2F771e5109e166ae680720e198df752173%2Foriginal+ipod.jpeg&client=amp-blogside-v2&signature=a319fe8bbffd7bd5fb199c6f4d83bd1f81a8d70a">

                    <p class="has-text-centered">米アップル「iPod」発売</p>
                </div>
                <div class="column is-2">
                    <p>平成13年<small>(2001年)</small></p>
                    <img src="https://image.freepik.com/free-photo/no-translate-detected_1205-380.jpg">
                    <div class="select is-info">
                        <select>
                            <option>人類が初めて１００ｍ走で１０秒を切る</option>
                            <option>裁判員制度スタート</option>
                            <option>富士山が世界文化遺産登録</option>
                            <option>Twitterサービス開始</option>
                            <option>消費税が８％に</option>
                            <option>マイナンバー制度が導入</option>
                            <option>オレオレ詐欺が流行</option>
                            <option>MDが発売</option>
                            <option>U・S・J開業</option>


                        </select>
                    </div>
                </div>
            </div>


<!--
<div class="field">
    <div class="control">
        <div class="select is-info">
            <select>
                <option>人類が初めて１００ｍ走で１０秒を切る</option>
                <option>裁判員制度スタート</option>
                <option>富士山が世界文化遺産登録</option>
                <option>Twitterサービス開始</option>
                <option>消費税が８％に</option>
                <option>マイナンバー制度が導入</option>
                <option>オレオレ詐欺が流行</option>
                <option>MDが発売</option>
                <option>U・S・J開業</option>


            </select>
        </div>
    </div>
</div>

<a class="button is-warning">判定</a>-->



        </div>
    </section>
    <div class="push"></div>
    <footer class="footer">
        <div class="container">
            <div class="content has-text-centered">
                2018 © Pro*seeds
            </div>
        </div>
    </footer>
</body>

</html>